## Video
profile=default
vo=gpu-next
{{- if eq .chezmoi.hostname "laptop" }}
vulkan-device="Intel(R) HD Graphics 530 (SKL GT2)"
gpu-api=vulkan
hwdec=vaapi

{{- end }}

## General
fullscreen=yes
keep-open=yes
save-position-on-quit=yes
force-seekable=yes
cursor-autohide=100
cursor-autohide-fs-only

## Audio
volume=100
volume-max=100

## Subtitle
demuxer-mkv-subtitle-preroll=yes
sub-ass-vsfilter-blur-compat=no
sub-auto=fuzzy

## Language Priority
alang=jp,jpn,en,eng
slang=en,eng,enm
