# vim: set ft=fish:
## ENVIRONMENT VARIABLES
fish_add_path ~/.local/bin ~/.cargo/bin ~/.local/share/fnm
set -gx EDITOR nvim
set -gx VISUAL $EDITOR
set -gx WINEDLLOVERRIDES winemenubuilder.exe=d

if status is-interactive
    ## SETTINGS
    # Disable greeting
    set -g fish_greeting

    ## ALIASES & ABBREVIATIONS
    alias ls='ls -Fhv --color=auto --group-directories-first'
    {{- if eq .chezmoi.os "linux" }}
    alias ll='ls -l'
    alias la='ls -lA'
    {{- else if eq .chezmoi.os "android" }}
    alias ll='ls -gG'
    alias la='ls -gGA'
    {{- end }}
    abbr -a sys systemctl
    abbr -a sudo-sys --command sudo --regex "sys" systemctl
    abbr -a sysu systemctl --user
    abbr -a fire firewall-cmd
    abbr -a sudo-fire --command sudo --regex "fire" firewall-cmd
    abbr -a che chezmoi
    abbr -a chez chezmoi
    abbr -a venv python3 -m venv
    abbr -a vi nvim
    abbr -a vim nvim

    # Flatpak
    alias protontricks='flatpak run com.github.Matoking.protontricks'
    alias protontricks-launch='flatpak run --command=protontricks-launch com.github.Matoking.protontricks'

    fzf --fish | source
    zoxide init fish --cmd cd | source
    {{- if eq .chezmoi.hostname "fedora" }}
    fnm env --use-on-cd --shell fish | source
    {{- end }}
end
