# vim: set ft=fish:
## ENVIRONMENT VARIABLES
fish_add_path ~/.local/share/fnm ~/.cargo/bin ~/.local/bin
set -gx EDITOR nvim
set -gx VISUAL $EDITOR
set -gx WINEDLLOVERRIDES winemenubuilder.exe=d
{{- if eq .chezmoi.hostname "laptop" }}

# Old laptop with Arch Linux
set -gx SSH_AUTH_SOCK $XDG_RUNTIME_DIR/ssh-agent.socket # for systemd ssh agent
set -gx STEAM_FORCE_DESKTOPUI_SCALING 1.5
{{- end }}

if status is-interactive
    ## SETTINGS
    # Disable greeting
    set -g fish_greeting

    ## ALIASES & ABBREVIATIONS
    alias ls='eza --icons=auto --group-directories-first'
    {{- if eq .chezmoi.os "linux" }}
    alias ll='eza -l --icons=auto --group-directories-first'
    alias la='eza -la --icons=auto --group-directories-first'
    {{- else if eq .chezmoi.os "android" }}
    alias ll='eza -l --icons=auto --group-directories-first --no-user'
    alias la='eza -la --icons=auto --group-directories-first --no-user'
    {{- end }}
    abbr -a sys --position anywhere systemctl
    abbr -a sysu systemctl --user
    abbr -a fire --position anywhere firewall-cmd
    abbr -a che chezmoi
    abbr -a chez chezmoi
    abbr -a venv python3 -m venv
    abbr -a vi nvim
    abbr -a vim nvim

    # Flatpak
    alias protontricks='flatpak run com.github.Matoking.protontricks'
    alias protontricks-launch='flatpak run --command=protontricks-launch com.github.Matoking.protontricks'
    {{- if eq .chezmoi.hostname "laptop" }}

    # Old laptop with Arch Linux
    alias update-mirrors='sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak \
        && rate-mirrors --protocol https arch --max-delay 3600 | sudo tee /etc/pacman.d/mirrorlist'
    alias clean-packages='sudo pacman -R $(pacman -Qtdq)'
    {{- end }}

    fzf --fish | source
    zoxide init fish --cmd cd | source
    {{- if eq .chezmoi.hostname "fedora" }}
    fnm env --use-on-cd --shell fish | source
    {{- end }}
end
