# vim: set ft=bash:

## ENVIRONMENT VARIABLES
{{- if eq .chezmoi.os "linux" }}
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/stl/prefix:$HOME/.cargo/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/stl/prefix:$HOME/.cargo/bin:$PATH"
fi
export PATH
export EDITOR="nvim"
export VISUAL=$EDITOR
export WINEDLLOVERRIDES="winemenubuilder.exe=d"

{{- else if eq .chezmoi.os "android" }}
if ! [[ "$PATH" =~ "$HOME/.local/bin:" ]]; then
    PATH="$HOME/.local/bin:$PATH"
fi
export PATH
export EDITOR="nvim"
export VISUAL=$EDITOR

{{- end }}
{{- if eq .chezmoi.hostname "laptop" }}

# Old laptop with Arch Linux
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket" # for systemd ssh agent
export STEAM_FORCE_DESKTOPUI_SCALING=1.5

{{- end }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

## SETTINGS
# Prompt
green=$'\e[38;5;2m'
bright_red=$'\e[38;5;9m'
bright_green=$'\e[38;5;10m'
reset=$'\e[0m'

prompt_command()
{
    local exit_status=$?

    if [[ $exit_status != 0 ]]; then
        exit_color=$bright_red
        exit_prompt=" [$exit_status]"
    else
        exit_color=$bright_green
        exit_prompt=""
    fi
}

PROMPT_COMMAND=prompt_command
PS1='\[$green\]\w\[$exit_color\]$exit_prompt ❯ \[$reset\]'

# History
HISTSIZE=1000
HISTFILE=$HOME/.bash_history
HISTFILESIZE=$HISTSIZE
HISTCONTROL=ignoreboth:erasedups

# Misc
shopt -s autocd
shopt -s extglob

## KEYBINDINGS
bind '"\e[A": history-substring-search-backward'
bind '"\e[B": history-substring-search-forward'

## ALIASES
{{- if eq .chezmoi.os "linux" }}
alias sudo='sudo ' # for using aliases with sudo
alias ls='eza --icons=auto --group-directories-first'
alias ll='eza -l --icons=auto --group-directories-first'
alias la='eza -la --icons=auto --group-directories-first'
alias sys='systemctl'
alias sysu='systemctl --user'
alias fire='firewall-cmd'
alias chez='chezmoi'
alias venv='python3 -m venv'

# Flatpak
alias protontricks='flatpak run com.github.Matoking.protontricks'
alias protontricks-launch='flatpak run --command=protontricks-launch com.github.Matoking.protontricks'

{{- else if eq .chezmoi.os "android" }}
alias ls='eza --icons=auto --group-directories-first'
alias ll='eza -l --icons=auto --group-directories-first --no-user'
alias la='eza -la --icons=auto --group-directories-first --no-user'
alias chez='chezmoi'
alias venv='python3 -m venv'

{{- end }}
{{- if eq .chezmoi.hostname "laptop" }}

# Old laptop with Arch Linux
alias update-mirrors='sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak \
    && rate-mirrors --protocol https arch --max-delay 3600 | sudo tee /etc/pacman.d/mirrorlist'
alias clean-packages='sudo pacman -R $(pacman -Qtdq)'

{{- end }}

eval "$(fzf --bash)"
eval "$(zoxide init bash --cmd cd)"
