# vim: set ft=bash:

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

## SETTINGS
# History
HISTSIZE=10000
HISTFILE=$HOME/.bash_history
HISTFILESIZE=$HISTSIZE
HISTCONTROL=ignoreboth:erasedups

# Misc
shopt -s autocd
shopt -s extglob

## KEYBINDINGS
bind '"\e[A": history-substring-search-backward'
bind '"\e[B": history-substring-search-forward'

{{ if eq .chezmoi.os "linux" -}}

## ALIASES
alias sudo='sudo ' # for using aliases with sudo
alias ls='eza --icons=auto --group-directories-first'
alias ll='eza -l --icons=auto --group-directories-first'
alias la='eza -la --icons=auto --group-directories-first'
alias sys='systemctl'
alias sysu='systemctl --user'
alias fire='firewall-cmd'
alias chez='chezmoi'
alias vim='nvim'
alias lg='lazygit'
alias venv='python3 -m venv'

# Flatpak
alias clean-flatpak='flatpak uninstall --unused'
alias protontricks='flatpak run com.github.Matoking.protontricks'
alias protontricks-launch='flatpak run --command=protontricks-launch com.github.Matoking.protontricks'

# Arch Linux specific
alias update-mirrors='sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak \
    && rate-mirrors --protocol https arch --max-delay 3600 | sudo tee /etc/pacman.d/mirrorlist'
alias clean-packages='sudo pacman -R $(pacman -Qtdq)'

# Containers
alias gen-oidc-client-id='podman run --rm authelia/authelia:latest authelia crypto rand --length 72 --charset rfc3986'
alias gen-oidc-client-secret='podman run --rm authelia/authelia:latest authelia crypto hash generate argon2 --profile recommended --random --random.length 72 --random.charset rfc3986'
alias gen-alphanumeric-string='podman run --rm authelia/authelia:latest authelia crypto rand --length 64 --charset alphanumeric'

{{- else if eq .chezmoi.os "android" -}}

## ALIASES
alias ls='eza --icons=auto --group-directories-first'
alias ll='eza -l --icons=auto --group-directories-first --no-user'
alias la='eza -la --icons=auto --group-directories-first --no-user'
alias chez='chezmoi'
alias vim='nvim'
alias lg='lazygit'
alias venv='python3 -m venv'

{{- end }}

eval "$(zoxide init bash --cmd cd)"
