# vim: set ft=bash:

# source .bashrc
[[ -f ~/.bashrc ]] && . ~/.bashrc

{{ if eq .chezmoi.os "linux" -}}

## ENVIRONMENT VARIABLES
export PATH="$HOME/.local/bin:$HOME/stl/prefix:$HOME/.cargo/bin:$PATH"
export EDITOR="nvim"
export VISUAL=$EDITOR
export DIFFPROG="meld"
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket" # for systemd ssh agent
export WINEDLLOVERRIDES="winemenubuilder.exe=d"
export STEAM_FORCE_DESKTOPUI_SCALING=1.5
export __GL_SHADER_DISK_CACHE_SKIP_CLEANUP=1 # fix shader cache for nvidia?

{{- else if eq .chezmoi.os "android" -}}

## ENVIRONMENT VARIABLES
export PATH="$HOME/.local/bin:$PATH"
export EDITOR="nvim"
export VISUAL=$EDITOR

{{- end }}
