# vim: set ft=bash:
{{- if eq .chezmoi.hostname "fedora" }}
# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi
{{- end }}

# Add to PATH without duplicate entries
pathmunge () {
    case ":${PATH}:" in
        *:"$1":*)
            ;;
        *)
            if [ "$2" = "after" ] ; then
                PATH=$PATH:$1
            else
                PATH=$1:$PATH
            fi
    esac
}

## ENVIRONMENT VARIABLES
pathmunge $HOME/.local/share/fnm
pathmunge $HOME/.cargo/bin
pathmunge $HOME/.local/bin
export PATH
export EDITOR="nvim"
export VISUAL=$EDITOR
export WINEDLLOVERRIDES="winemenubuilder.exe=d"
{{- if eq .chezmoi.hostname "laptop" }}

# Old laptop with Arch Linux
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket" # for systemd ssh agent
export STEAM_FORCE_DESKTOPUI_SCALING=1.5
{{- end }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

## SETTINGS
# Prompt
GREEN=$'\e[38;5;2m'
BRIGHT_RED=$'\e[38;5;9m'
BRIGHT_GREEN=$'\e[38;5;10m'
RESET=$'\e[0m'

prompt_command() {
    local exit_status=$?

    if [[ $exit_status != 0 ]]; then
        exit_color=$BRIGHT_RED
        exit_prompt=" [$exit_status]"
    else
        exit_color=$BRIGHT_GREEN
        exit_prompt=""
    fi
}

PROMPT_COMMAND=prompt_command
PS1='\[$GREEN\]\w\[$exit_color\]$exit_prompt ❯ \[$RESET\]'

# History
HISTSIZE=1000
HISTFILE=$HOME/.bash_history
HISTFILESIZE=$HISTSIZE
HISTCONTROL=ignoreboth:erasedups

# Misc
shopt -s autocd
shopt -s extglob

## KEYBINDINGS
bind '"\e[A": history-substring-search-backward'
bind '"\e[B": history-substring-search-forward'

## ALIASES
alias sudo='sudo ' # for using aliases with sudo
alias ls='eza --icons=auto --group-directories-first'
{{- if eq .chezmoi.os "linux" }}
alias ll='eza -l --icons=auto --group-directories-first'
alias la='eza -la --icons=auto --group-directories-first'
{{- else if eq .chezmoi.os "android" }}
alias ll='eza -l --icons=auto --group-directories-first --no-user'
alias la='eza -la --icons=auto --group-directories-first --no-user'
{{- end }}
alias sys='systemctl'
alias sysu='systemctl --user'
alias fire='firewall-cmd'
alias che='chezmoi'
alias chez='chezmoi'
alias venv='python3 -m venv'
alias vi='nvim'
alias vim='nvim'

# Flatpak
alias protontricks='flatpak run com.github.Matoking.protontricks'
alias protontricks-launch='flatpak run --command=protontricks-launch com.github.Matoking.protontricks'
{{- if eq .chezmoi.hostname "laptop" }}

# Old laptop with Arch Linux
alias update-mirrors='sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak \
    && rate-mirrors --protocol https arch --max-delay 3600 | sudo tee /etc/pacman.d/mirrorlist'
alias clean-packages='sudo pacman -R $(pacman -Qtdq)'
{{- end }}

eval "$(fzf --bash)"
eval "$(zoxide init bash --cmd cd)"
{{- if eq .chezmoi.hostname "fedora" }}
eval "$(fnm env --use-on-cd --shell bash)"
{{- end }}
