# vim: set ft=zsh:

{{ if eq .chezmoi.os "linux" -}}

## ENVIRONMENT VARIABLES
typeset -U path PATH
path=($HOME/.local/bin $HOME/stl/prefix $HOME/.cargo/bin $path)
export PATH
export EDITOR="nvim"
export VISUAL=$EDITOR
export DIFFPROG="meld"
export WINEDLLOVERRIDES="winemenubuilder.exe=d"

{{- else if eq .chezmoi.os "android" -}}

## ENVIRONMENT VARIABLES
typeset -U path PATH
path=($HOME/.local/bin $path)
export PATH
export EDITOR="nvim"
export VISUAL=$EDITOR

{{- end }}
