# Set prefix key
set -g prefix C-Space

# True color settings
set -g default-terminal "$TERM"
set -ag terminal-overrides ",$TERM:Tc"

# Enable mouse
set -g mouse on

{{- if eq .chezmoi.os "linux" }}

# Set default shell
set -g default-shell /usr/bin/fish

{{- end}}
